<html>
    <head>
        <style>
        background { background-color: #333; color: whitesmoke;}
        </style>
    </head>
    <body>
        <h1>Dog</h1>
        <p>This ran from dog</p>
        <img src="dog.jpg" alt="dog"/>
    </body>
    
</html>